In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null 
!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz 
!tar xf spark-2.4.8-bin-hadoop2.7.tgz

In [ ]:
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64" 
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [ ]:
!pip install findspark
import findspark 
findspark.init()

Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [ ]:
!pip install findspark
import findspark 
findspark.init()

Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (1.4.2)

In [ ]:
import pyspark
sc = pyspark.SparkContext()

In [ ]:
readme = sc.textFile('/content/spark-2.4.8-bin-hadoop2.7/README.md')
readme.count()

104

In [ ]:
readme.map(lambda word:word .upper()).collect()

['# APACHE SPARK',
 '',
 'SPARK IS A FAST AND GENERAL CLUSTER COMPUTING SYSTEM FOR BIG DATA. IT PROVIDES',
 'HIGH-LEVEL APIS IN SCALA, JAVA, PYTHON, AND R, AND AN OPTIMIZED ENGINE THAT',
 'SUPPORTS GENERAL COMPUTATION GRAPHS FOR DATA ANALYSIS. IT ALSO SUPPORTS A',
 'RICH SET OF HIGHER-LEVEL TOOLS INCLUDING SPARK SQL FOR SQL AND DATAFRAMES,',
 'MLLIB FOR MACHINE LEARNING, GRAPHX FOR GRAPH PROCESSING,',
 'AND SPARK STREAMING FOR STREAM PROCESSING.',
 '',
 '<HTTP://SPARK.APACHE.ORG/>',
 '',
 '',
 '## ONLINE DOCUMENTATION',
 '',
 'YOU CAN FIND THE LATEST SPARK DOCUMENTATION, INCLUDING A PROGRAMMING',
 'GUIDE, ON THE [PROJECT WEB PAGE](HTTP://SPARK.APACHE.ORG/DOCUMENTATION.HTML).',
 'THIS README FILE ONLY CONTAINS BASIC SETUP INSTRUCTIONS.',
 '',
 '## BUILDING SPARK',
 '',
 'SPARK IS BUILT USING [APACHE MAVEN](HTTP://MAVEN.APACHE.ORG/).',
 'TO BUILD SPARK AND ITS EXAMPLE PROGRAMS, RUN:',
 '',
 '    BUILD/MVN -DSKIPTESTS CLEAN PACKAGE',
 '',
 '(YOU DO NOT NEED TO DO THIS IF YOU DOWNLOADED A PRE-BUILT PACKAGE.)',
 '',
 'MORE DETAILED DOCUMENTATION IS AVAILABLE FROM THE PROJECT SITE, AT',
 '["BUILDING SPARK"](HTTP://SPARK.APACHE.ORG/DOCS/LATEST/BUILDING-SPARK.HTML).',
 '',
 'FOR GENERAL DEVELOPMENT TIPS, INCLUDING INFO ON DEVELOPING SPARK USING AN IDE, SEE ["USEFUL DEVELOPER TOOLS"](HTTP://SPARK.APACHE.ORG/DEVELOPER-TOOLS.HTML).',
 '',
 '## INTERACTIVE SCALA SHELL',
 '',
 'THE EASIEST WAY TO START USING SPARK IS THROUGH THE SCALA SHELL:',
 '',
 '    ./BIN/SPARK-SHELL',
 '',
 'TRY THE FOLLOWING COMMAND, WHICH SHOULD RETURN 1000:',
 '',
 '    SCALA> SC.PARALLELIZE(1 TO 1000).COUNT()',
 '',
 '## INTERACTIVE PYTHON SHELL',
 '',
 'ALTERNATIVELY, IF YOU PREFER PYTHON, YOU CAN USE THE PYTHON SHELL:',
 '',
 '    ./BIN/PYSPARK',
 '',
 'AND RUN THE FOLLOWING COMMAND, WHICH SHOULD ALSO RETURN 1000:',
 '',
 '    >>> SC.PARALLELIZE(RANGE(1000)).COUNT()',
 '',
 '## EXAMPLE PROGRAMS',
 '',
 'SPARK ALSO COMES WITH SEVERAL SAMPLE PROGRAMS IN THE `EXAMPLES` DIRECTORY.',
 'TO RUN ONE OF THEM, USE `./BIN/RUN-EXAMPLE <CLASS> [PARAMS]`. FOR EXAMPLE:',
 '',
 '    ./BIN/RUN-EXAMPLE SPARKPI',
 '',
 'WILL RUN THE PI EXAMPLE LOCALLY.',
 '',
 'YOU CAN SET THE MASTER ENVIRONMENT VARIABLE WHEN RUNNING EXAMPLES TO SUBMIT',
 'EXAMPLES TO A CLUSTER. THIS CAN BE A MESOS:// OR SPARK:// URL,',
 '"YARN" TO RUN ON YARN, AND "LOCAL" TO RUN',
 'LOCALLY WITH ONE THREAD, OR "LOCAL[N]" TO RUN LOCALLY WITH N THREADS. YOU',
 'CAN ALSO USE AN ABBREVIATED CLASS NAME IF THE CLASS IS IN THE `EXAMPLES`',
 'PACKAGE. FOR INSTANCE:',
 '',
 '    MASTER=SPARK://HOST:7077 ./BIN/RUN-EXAMPLE SPARKPI',
 '',
 'MANY OF THE EXAMPLE PROGRAMS PRINT USAGE HELP IF NO PARAMS ARE GIVEN.',
 '',
 '## RUNNING TESTS',
 '',
 'TESTING FIRST REQUIRES [BUILDING SPARK](#BUILDING-SPARK). ONCE SPARK IS BUILT, TESTS',
 'CAN BE RUN USING:',
 '',
 '    ./DEV/RUN-TESTS',
 '',
 'PLEASE SEE THE GUIDANCE ON HOW TO',
 '[RUN TESTS FOR A MODULE, OR INDIVIDUAL TESTS](HTTP://SPARK.APACHE.ORG/DEVELOPER-TOOLS.HTML#INDIVIDUAL-TESTS).',
 '',
 'THERE IS ALSO A KUBERNETES INTEGRATION TEST, SEE RESOURCE-MANAGERS/KUBERNETES/INTEGRATION-TESTS/README.MD',
 '',
 '## A NOTE ABOUT HADOOP VERSIONS',
 '',
 'SPARK USES THE HADOOP CORE LIBRARY TO TALK TO HDFS AND OTHER HADOOP-SUPPORTED',
 'STORAGE SYSTEMS. BECAUSE THE PROTOCOLS HAVE CHANGED IN DIFFERENT VERSIONS OF',
 'HADOOP, YOU MUST BUILD SPARK AGAINST THE SAME VERSION THAT YOUR CLUSTER RUNS.',
 '',
 'PLEASE REFER TO THE BUILD DOCUMENTATION AT',
 '["SPECIFYING THE HADOOP VERSION AND ENABLING YARN"](HTTP://SPARK.APACHE.ORG/DOCS/LATEST/BUILDING-SPARK.HTML#SPECIFYING-THE-HADOOP-VERSION-AND-ENABLING-YARN)',
 'FOR DETAILED GUIDANCE ON BUILDING FOR A PARTICULAR DISTRIBUTION OF HADOOP, INCLUDING',
 'BUILDING FOR PARTICULAR HIVE AND HIVE THRIFTSERVER DISTRIBUTIONS.',
 '',
 '## CONFIGURATION',
 '',
 'PLEASE REFER TO THE [CONFIGURATION GUIDE](HTTP://SPARK.APACHE.ORG/DOCS/LATEST/CONFIGURATION.HTML)',
 'IN THE ONLINE DOCUMENTATION FOR AN OVERVIEW ON HOW TO CONFIGURE SPARK.',
 '',
 '## CONTRIBUTING',
 '',
 'PLEASE REVIEW THE [CONTRIBUTION TO SPARK GUIDE](HTTP://SPARK.APACHE.ORG/CONTRIBUTING.HTML)',
 'FOR INFORMATION ON HOW TO GET STARTED CONTRIBUTING TO THE PROJECT.']

In [ ]:
readme.map(lambda word:word .upper()).take(1)

['# APACHE SPARK']

In [ ]:
readme.map(lambda readme:(readme,len(readme))).collect()

[('# Apache Spark', 14),
 ('', 0),
 ('Spark is a fast and general cluster computing system for Big Data. It provides',
  78),
 ('high-level APIs in Scala, Java, Python, and R, and an optimized engine that',
  75),
 ('supports general computation graphs for data analysis. It also supports a',
  73),
 ('rich set of higher-level tools including Spark SQL for SQL and DataFrames,',
  74),
 ('MLlib for machine learning, GraphX for graph processing,', 56),
 ('and Spark Streaming for stream processing.', 42),
 ('', 0),
 ('<http://spark.apache.org/>', 26),
 ('', 0),
 ('', 0),
 ('## Online Documentation', 23),
 ('', 0),
 ('You can find the latest Spark documentation, including a programming', 68),
 ('guide, on the [project web page](http://spark.apache.org/documentation.html).',
  77),
 ('This README file only contains basic setup instructions.', 56),
 ('', 0),
 ('## Building Spark', 17),
 ('', 0),
 ('Spark is built using [Apache Maven](http://maven.apache.org/).', 62),
 ('To build Spark and its example programs, run:', 45),
 ('', 0),
 ('    build/mvn -DskipTests clean package', 39),
 ('', 0),
 ('(You do not need to do this if you downloaded a pre-built package.)', 67),
 ('', 0),
 ('More detailed documentation is available from the project site, at', 66),
 ('["Building Spark"](http://spark.apache.org/docs/latest/building-spark.html).',
  76),
 ('', 0),
 ('For general development tips, including info on developing Spark using an IDE, see ["Useful Developer Tools"](http://spark.apache.org/developer-tools.html).',
  156),
 ('', 0),
 ('## Interactive Scala Shell', 26),
 ('', 0),
 ('The easiest way to start using Spark is through the Scala shell:', 64),
 ('', 0),
 ('    ./bin/spark-shell', 21),
 ('', 0),
 ('Try the following command, which should return 1000:', 52),
 ('', 0),
 ('    scala> sc.parallelize(1 to 1000).count()', 44),
 ('', 0),
 ('## Interactive Python Shell', 27),
 ('', 0),
 ('Alternatively, if you prefer Python, you can use the Python shell:', 66),
 ('', 0),
 ('    ./bin/pyspark', 17),
 ('', 0),
 ('And run the following command, which should also return 1000:', 61),
 ('', 0),
 ('    >>> sc.parallelize(range(1000)).count()', 43),
 ('', 0),
 ('## Example Programs', 19),
 ('', 0),
 ('Spark also comes with several sample programs in the `examples` directory.',
  74),
 ('To run one of them, use `./bin/run-example <class> [params]`. For example:',
  74),
 ('', 0),
 ('    ./bin/run-example SparkPi', 29),
 ('', 0),
 ('will run the Pi example locally.', 32),
 ('', 0),
 ('You can set the MASTER environment variable when running examples to submit',
  75),
 ('examples to a cluster. This can be a mesos:// or spark:// URL,', 62),
 ('"yarn" to run on YARN, and "local" to run', 41),
 ('locally with one thread, or "local[N]" to run locally with N threads. You',
  73),
 ('can also use an abbreviated class name if the class is in the `examples`',
  72),
 ('package. For instance:', 22),
 ('', 0),
 ('    MASTER=spark://host:7077 ./bin/run-example SparkPi', 54),
 ('', 0),
 ('Many of the example programs print usage help if no params are given.', 69),
 ('', 0),
 ('## Running Tests', 16),
 ('', 0),
 ('Testing first requires [building Spark](#building-spark). Once Spark is built, tests',
  84),
 ('can be run using:', 17),
 ('', 0),
 ('    ./dev/run-tests', 19),
 ('', 0),
 ('Please see the guidance on how to', 33),
 ('[run tests for a module, or individual tests](http://spark.apache.org/developer-tools.html#individual-tests).',
  109),
 ('', 0),
 ('There is also a Kubernetes integration test, see resource-managers/kubernetes/integration-tests/README.md',
  105),
 ('', 0),
 ('## A Note About Hadoop Versions', 31),
 ('', 0),
 ('Spark uses the Hadoop core library to talk to HDFS and other Hadoop-supported',
  77),
 ('storage systems. Because the protocols have changed in different versions of',
  76),
 ('Hadoop, you must build Spark against the same version that your cluster runs.',
  77),
 ('', 0),
 ('Please refer to the build documentation at', 42),
 ('["Specifying the Hadoop Version and Enabling YARN"](http://spark.apache.org/docs/latest/building-spark.html#specifying-the-hadoop-version-and-enabling-yarn)',
  156),
 ('for detailed guidance on building for a particular distribution of Hadoop, including',
  84),
 ('building for particular Hive and Hive Thriftserver distributions.', 65),
 ('', 0),
 ('## Configuration', 16),
 ('', 0),
 ('Please refer to the [Configuration Guide](http://spark.apache.org/docs/latest/configuration.html)',
  97),
 ('in the online documentation for an overview on how to configure Spark.',
  70),
 ('', 0),
 ('## Contributing', 15),
 ('', 0),
 ('Please review the [Contribution to Spark guide](http://spark.apache.org/contributing.html)',
  90),
 ('for information on how to get started contributing to the project.', 66)]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName('Python Spark DataFrame Example') \
        .getOrCreate()

In [ ]:
kiva = spark.read.csv('/content/kiva_el.csv',sep=',',
                      header='true',inferSchema='true')
kiva.printSchema()

root
 |-- LocationName: string (nullable = true)
 |-- ISO: string (nullable = true)
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)
 |-- world_region: string (nullable = true)
 |-- MPI: string (nullable = true)
 |-- geo: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- id: string (nullable = true)
 |-- funded_amount: string (nullable = true)
 |-- loan_amount: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- sector: string (nullable = true)
 |-- use: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- partner_id: string (nullable = true)
 |-- posted_time: string (nullable = true)
 |-- disbursed_time: string (nullable = true)
 |-- funded_time: string (nullable = true)
 |-- term_in_months: string (nullable = true)
 |-- lender_count: double (nullable = true)
 |-- tags: string (nullable = true)
 |-- borrower_genders: string (nullable = true)
 |-- repayment_interval: string (nullable = true)
 |-- date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)

In [ ]:
kiva.show(5)

+--------------------+---+-----------+----------+--------------------+----+--------------------+----------+-----------+------+-------------+-----------+-------------+-----------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+--------+---------+
|        LocationName|ISO|    country|    region|        world_region| MPI|                 geo|       lat|        lon|    id|funded_amount|loan_amount|     activity|     sector|                 use|country_code|currency|partner_id|         posted_time|      disbursed_time|         funded_time|term_in_months|lender_count|                tags|    borrower_genders|repayment_interval|      date|year|   month|      day|
+--------------------+---+-----------+----------+--------------------+----+--------------------+----------+-----------+------+-------------+-----------+-------------+-----------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+--------+---------+
|Ahuachapan, El Sa...|SLV|El Salvador|Ahuachapan|Latin America and...|0.03|(13.8216148, -89....|13.8216148|-89.9253233|670484|       1300.0|     1300.0|  Agriculture|Agriculture|to pay for the la...|          SV|     USD|     333.0|2014-02-15 21:03:...|2014-01-16 08:00:...|2014-02-21 20:41:...|          14.0|        29.0|                null|female, female, f...|            bullet|2014-02-15|2014|February| Saturday|
|Ahuachapan, El Sa...|SLV|El Salvador|Ahuachapan|Latin America and...|0.03|(13.8216148, -89....|13.8216148|-89.9253233|675795|       1800.0|     3000.0|    Livestock|Agriculture|        to buy cows.|          SV|     USD|     333.0|2014-02-24 17:53:...|2014-02-06 08:00:...|                null|          14.0|        53.0|#Animals, #Parent...|    male, male, male|            bullet|2014-02-24|2014|February|   Monday|
|Ahuachapan, El Sa...|SLV|El Salvador|Ahuachapan|Latin America and...|0.03|(13.8216148, -89....|13.8216148|-89.9253233|686887|       1900.0|     1900.0|  Agriculture|Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-03-20 22:43:...|2014-02-20 08:00:...|2014-04-24 12:40:...|          14.0|        31.0|#Hidden Gem, #Sup...|  male, male, female|            bullet|2014-03-20|2014|   March| Thursday|
|Ahuachapan, El Sa...|SLV|El Salvador|Ahuachapan|Latin America and...|0.03|(13.8216148, -89....|13.8216148|-89.9253233|706942|       1925.0|     2200.0|  Agriculture|Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-05-07 14:48:...|2014-04-10 07:00:...|                null|          14.0|        54.0|volunteer_pick, v...|    male, male, male|            bullet|2014-05-07|2014|     May|Wednesday|
|Ahuachapan, El Sa...|SLV|El Salvador|Ahuachapan|Latin America and...|0.03|(13.8216148, -89....|13.8216148|-89.9253233|716964|       1275.0|     1500.0|Farm Supplies|Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-05-27 20:54:...|2014-05-15 07:00:...|                null|          14.0|         7.0|volunteer_pick, v...|    male, male, male|            bullet|2014-05-27|2014|     May|  Tuesday|
+--------------------+---+-----------+----------+--------------------+----+--------------------+----------+-----------+------+-------------+-----------+-------------+-----------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+--------+---------+
only showing top 5 rows

In [ ]:
df = kiva.limit(5).toPandas()
df

              LocationName  ISO      country  ...  year     month        day
0  Ahuachapan, El Salvador  SLV  El Salvador  ...  2014  February   Saturday
1  Ahuachapan, El Salvador  SLV  El Salvador  ...  2014  February     Monday
2  Ahuachapan, El Salvador  SLV  El Salvador  ...  2014     March   Thursday
3  Ahuachapan, El Salvador  SLV  El Salvador  ...  2014       May  Wednesday
4  Ahuachapan, El Salvador  SLV  El Salvador  ...  2014       May    Tuesday

[5 rows x 30 columns]

In [ ]:
kiva = kiva.withColumnRenamed('LocationName','Location')
kiva.show()

+--------------------+---+-----------+-----------+--------------------+-----+--------------------+------------------+------------------+------+-------------+-----------+-------------+------------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+---------+---------+
|            Location|ISO|    country|     region|        world_region|  MPI|                 geo|               lat|               lon|    id|funded_amount|loan_amount|     activity|      sector|                 use|country_code|currency|partner_id|         posted_time|      disbursed_time|         funded_time|term_in_months|lender_count|                tags|    borrower_genders|repayment_interval|      date|year|    month|      day|
+--------------------+---+-----------+-----------+--------------------+-----+--------------------+------------------+------------------+------+-------------+-----------+-------------+------------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+---------+---------+
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|670484|       1300.0|     1300.0|  Agriculture| Agriculture|to pay for the la...|          SV|     USD|     333.0|2014-02-15 21:03:...|2014-01-16 08:00:...|2014-02-21 20:41:...|          14.0|        29.0|                null|female, female, f...|            bullet|2014-02-15|2014| February| Saturday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|675795|       1800.0|     3000.0|    Livestock| Agriculture|        to buy cows.|          SV|     USD|     333.0|2014-02-24 17:53:...|2014-02-06 08:00:...|                null|          14.0|        53.0|#Animals, #Parent...|    male, male, male|            bullet|2014-02-24|2014| February|   Monday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|686887|       1900.0|     1900.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-03-20 22:43:...|2014-02-20 08:00:...|2014-04-24 12:40:...|          14.0|        31.0|#Hidden Gem, #Sup...|  male, male, female|            bullet|2014-03-20|2014|    March| Thursday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|706942|       1925.0|     2200.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-05-07 14:48:...|2014-04-10 07:00:...|                null|          14.0|        54.0|volunteer_pick, v...|    male, male, male|            bullet|2014-05-07|2014|      May|Wednesday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|716964|       1275.0|     1500.0|Farm Supplies| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-05-27 20:54:...|2014-05-15 07:00:...|                null|          14.0|         7.0|volunteer_pick, v...|    male, male, male|            bullet|2014-05-27|2014|      May|  Tuesday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|718029|       1250.0|     1250.0|  Agriculture| Agriculture|to purchase agric...|          SV|     USD|     333.0|2014-05-29 15:30:...|2014-05-15 07:00:...|2014-07-10 13:30:...|          14.0|        31.0|#Schooling, #Elde...|    male, male, male|            bullet|2014-05-29|2014|      May| Thursday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|718783|       1800.0|     1800.0|  Agriculture| Agriculture|to purchase agric...|          SV|     USD|     333.0|2014-05-31 14:50:...|2014-05-08 07:00:...|2014-07-11 04:31:...|          14.0|        45.0|volunteer_pick, #...|female, female, male|            bullet|2014-05-31|2014|      May| Saturday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|718812|       2900.0|     2900.0|  Agriculture| Agriculture|to purchase agric...|          SV|     USD|     333.0|2014-05-31 17:02:...|2014-05-15 07:00:...|2014-07-10 23:34:...|          14.0|        85.0|#Elderly, #Vegan,...|female, female, f...|            bullet|2014-05-31|2014|      May| Saturday|
|Ahuachapan, El Sa...|SLV|El Salvador| Ahuachapan|Latin America and...| 0.03|(13.8216148, -89....|        13.8216148|       -89.9253233|771093|       1150.0|     1150.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-09-18 13:47:...|2014-08-28 07:00:...|2014-10-10 15:18:...|           8.0|        45.0|user_favorite, #P...|  male, male, female|            bullet|2014-09-18|2014|September| Thursday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|664040|       1900.0|     1900.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-01-30 14:13:...|2014-01-23 08:00:...|2014-02-22 19:02:...|          14.0|        67.0|user_favorite, #P...|    male, male, male|            bullet|2014-01-30|2014|  January| Thursday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|675117|       2100.0|     2100.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-02-22 19:47:...|2014-02-20 08:00:...|2014-03-31 21:09:...|          14.0|        78.0|#Single Parent, #...|female, female, male|            bullet|2014-02-22|2014| February| Saturday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|716826|       1650.0|     2900.0|  Agriculture| Agriculture|To purchase agric...|          SV|     USD|     333.0|2014-05-27 15:41:...|2014-05-02 07:00:...|                null|          14.0|        24.0|#Schooling, #Sing...|  female, male, male|            bullet|2014-05-27|2014|      May|  Tuesday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|718182|       1200.0|     1200.0|  Agriculture| Agriculture|to purchase agric...|          SV|     USD|     333.0|2014-05-29 23:09:...|2014-05-15 07:00:...|2014-07-11 00:36:...|          14.0|        28.0|#Supporting Famil...|    male, male, male|            bullet|2014-05-29|2014|      May| Thursday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|718523|       1250.0|     1250.0|      Farming| Agriculture|to buy farming su...|          SV|     USD|     333.0|2014-05-30 14:55:...|2014-05-22 07:00:...|2014-07-11 01:32:...|          14.0|        34.0|volunteer_pick, v...|male, female, female|            bullet|2014-05-30|2014|      May|   Friday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|784501|       2300.0|     2300.0|  Agriculture| Agriculture|to buy agricultur...|          SV|     USD|     333.0|2014-10-16 22:17:...|2014-09-19 07:00:...|2014-11-25 05:30:...|          14.0|        80.0|#Single Parent, #...|male, female, fem...|            bullet|2014-10-16|2014|  October| Thursday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|784513|       2900.0|     2900.0|  Agriculture| Agriculture|to buy farm suppl...|          SV|     USD|     333.0|2014-10-16 22:53:...|2014-09-25 07:00:...|2014-11-27 18:21:...|          14.0|        99.0|#Schooling, #Vega...|female, male, female|            bullet|2014-10-16|2014|  October| Thursday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|790457|       1500.0|     1500.0|  Agriculture| Agriculture|to purchase agric...|          SV|     USD|     333.0|2014-10-28 16:31:...|2014-10-03 07:00:...|2014-12-05 19:53:...|          14.0|        51.0|user_favorite, #I...|female, female, male|            bullet|2014-10-28|2014|  October|  Tuesday|
|La Libertad, El S...|SLV|El Salvador|La Libertad|Latin America and...|0.017|(13.6817661, -89....|13.681766099999999|       -89.3606298|894761|       1600.0|     1600.0|      Farming| Agriculture|to purchase agric...|          SV|     USD|     333.0|2015-05-30 18:24:...|2015-04-30 07:00:...|2015-06-22 19:04:...|          14.0|        59.0|    #Elderly, #Vegan|    male, male, male|            bullet|2015-05-30|2015|      May| Saturday|
|San Miguel, El Sa...|SLV|El Salvador| San Miguel|Latin America and...| 0.03|(13.4792922, -88....|        13.4792922|-88.17791820000002|654358|       1500.0|     1500.0|  Home Energy|Personal Use|to install electr...|          SV|     USD|     199.0|2014-01-06 20:52:...|2013-12-30 08:00:...|2014-01-30 03:10:...|          20.0|        60.0|#Parent, #Support...|              female|           monthly|2014-01-06|2014|  January|   Monday|
|San Miguel, El Sa...|SLV|El Salvador| San Miguel|Latin America and...| 0.03|(13.4792922, -88....|        13.4792922|-88.17791820000002|654360|        700.0|      700.0|      Farming| Agriculture|to carry out the ...|          SV|     USD|     199.0|2014-01-06 20:58:...|2013-12-30 08:00:...|2014-01-07 13:34:...|          14.0|        20.0|                null|              female|            bullet|2014-01-06|2014|  January|   Monday|
+--------------------+---+-----------+-----------+--------------------+-----+--------------------+------------------+------------------+------+-------------+-----------+-------------+------------+--------------------+------------+--------+----------+--------------------+--------------------+--------------------+--------------+------------+--------------------+--------------------+------------------+----------+----+---------+---------+
only showing top 20 rows

In [ ]:
kiva_select = kiva.select('region','activity','sector',
                          'loan_amount','funded_amount')
kiva_select.show(2)

+----------+-----------+-----------+-----------+-------------+
|    region|   activity|     sector|loan_amount|funded_amount|
+----------+-----------+-----------+-----------+-------------+
|Ahuachapan|Agriculture|Agriculture|     1300.0|       1300.0|
|Ahuachapan|  Livestock|Agriculture|     3000.0|       1800.0|
+----------+-----------+-----------+-----------+-------------+
only showing top 2 rows

In [ ]:
kiva_select.filter((kiva_select.loan_amount > 100) 
              & (kiva_select.activity == 'Livestock')).show()

+----------+---------+-----------+-----------+-------------+
|    region| activity|     sector|loan_amount|funded_amount|
+----------+---------+-----------+-----------+-------------+
|Ahuachapan|Livestock|Agriculture|     3000.0|       1800.0|
|San Miguel|Livestock|Agriculture|     1600.0|       1600.0|
|San Miguel|Livestock|Agriculture|     1000.0|       1000.0|
|San Miguel|Livestock|Agriculture|      800.0|        800.0|
|San Miguel|Livestock|Agriculture|      500.0|        500.0|
|San Miguel|Livestock|Agriculture|     1500.0|       1500.0|
|San Miguel|Livestock|Agriculture|      700.0|        700.0|
|San Miguel|Livestock|Agriculture|     1000.0|       1000.0|
|San Miguel|Livestock|Agriculture|     1000.0|       1000.0|
|San Miguel|Livestock|Agriculture|      500.0|        500.0|
|San Miguel|Livestock|Agriculture|      650.0|        650.0|
|San Miguel|Livestock|Agriculture|      800.0|        800.0|
|San Miguel|Livestock|Agriculture|      600.0|        600.0|
|San Miguel|Livestock|Agriculture|      600.0|        600.0|
|San Miguel|Livestock|Agriculture|     1400.0|       1400.0|
|San Miguel|Livestock|Agriculture|      500.0|        500.0|
|San Miguel|Livestock|Agriculture|      650.0|        650.0|
|San Miguel|Livestock|Agriculture|      600.0|        600.0|
|San Miguel|Livestock|Agriculture|      800.0|        800.0|
|San Miguel|Livestock|Agriculture|      200.0|        200.0|
+----------+---------+-----------+-----------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

In [ ]:
kiva_select.groupby(['sector','activity']).agg(
    F.sum('funded_amount').alias('Total Funded Amount')
).show()

+-------------+--------------------+-------------------+
|       sector|            activity|Total Funded Amount|
+-------------+--------------------+-------------------+
|         Food|Food Production/S...|           214125.0|
|       Retail| Home Products Sales|             2500.0|
|Manufacturing|          Metal Shop|            10150.0|
|     Services|         Auto Repair|            12300.0|
| Personal Use|   Personal Expenses|            17050.0|
| Personal Use|         Home Energy|             5700.0|
|         Food|       Cheese Making|             5800.0|
|  Agriculture|             Flowers|             1400.0|
|  Agriculture|               Dairy|            18575.0|
|       Retail|    Electrical Goods|              650.0|
|         Arts|              Crafts|             3200.0|
| Construction|Construction Supp...|              400.0|
|     Services|            Printing|             1200.0|
|     Clothing|            Clothing|             9000.0|
|         Food|             Fishing|             5300.0|
|     Clothing|       Used Clothing|              600.0|
|     Services|           Recycling|             1500.0|
|         null|                null|               null|
|         Food|                Food|            17375.0|
|         Food|             Cereals|              800.0|
+-------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SQLContext

In [ ]:
sqlContext = SQLContext(sc)
kiva_select.registerTempTable('kiva_table')

In [ ]:
kiva_sql = sqlContext.sql('SELECT * FROM kiva_table WHERE funded_amount>100  ORDER BY funded_amount DESC')

In [ ]:
kiva_sql.show()

+----------+--------------------+-----------+-----------+-------------+
|    region|            activity|     sector|loan_amount|funded_amount|
+----------+--------------------+-----------+-----------+-------------+
|San Miguel|            Services|   Services|     1600.0|        975.0|
|San Miguel|         Agriculture|Agriculture|      975.0|        975.0|
|San Miguel|              Retail|     Retail|     1600.0|        975.0|
|San Miguel|Personal Housing ...|    Housing|     1500.0|        975.0|
|San Miguel| Home Products Sales|     Retail|     1025.0|        975.0|
|San Miguel|           Livestock|Agriculture|     1200.0|        975.0|
|San Miguel|         Agriculture|Agriculture|      950.0|        950.0|
|San Miguel|         Agriculture|Agriculture|      950.0|        950.0|
|San Miguel|         Auto Repair|   Services|     1500.0|        950.0|
|San Miguel|           Tailoring|   Services|      950.0|        950.0|
|San Miguel|              Cattle|Agriculture|      950.0|        950.0|
|San Miguel|           Livestock|Agriculture|      950.0|        950.0|
|San Miguel|         Agriculture|Agriculture|     1400.0|        950.0|
|San Miguel|      Clothing Sales|   Clothing|      950.0|        950.0|
|San Miguel|              Cattle|Agriculture|      950.0|        950.0|
|San Miguel|              Retail|     Retail|      950.0|        950.0|
|San Miguel|                Pigs|Agriculture|      950.0|        950.0|
|San Miguel|           Livestock|Agriculture|     1300.0|        925.0|
|San Miguel|           Livestock|Agriculture|     1350.0|        925.0|
|San Miguel|         Agriculture|Agriculture|     1500.0|        925.0|
+----------+--------------------+-----------+-----------+-------------+
only showing top 20 rows